
<div class="container-fluid about" id="about-section">
  <div class="container">


  <div class="row d-flex justify-content-between flex-row ">
<h5 class="mt-5 abtme"><span class="num">01. </span> About Me</h5><hr>
    <div class="col-md-4 align-self-center mt-5">

      <img src="../../assets/images/myabt.svg" alt="" class="img-fluid bgm mt-5">

    </div>
    <div class="col-md-7 align-self-center">
      <p class="mt-3 nume">- ABOUT</p>

      <p class="mt-3 abtm">Hello, my name is Gamaliel, a passionate introvert who loves building things with code. </p>
      <p class="abtm">My first encounter with code was immediately after highschool when I decided to try and write python scripts that would help me install ported custom roms on my smartphone from <a href="https://forum.xda-developers.com/c/custom-rom-central.2605/" target="_blank" rel="noopener noreferrer"><span class="xda">XDA</span></a> (I always wanted the latest and greatest android OS but had an incompatible phone <i class="fa-regular fa-face-meh"></i>). After weeks of fails and even bricking my phone, I was able to install my first ported rom. That ignited my passion for code</p>
      <p class="abtm">Fast forward to 2022, i've been working on my skills to solve real world problems and bring ideas to life with code. I recently graduated from Moringa School's 6 month intensive software development bootcamp program. </p>

    </div>
  </div>


  </div>
</div>
