
<div class="container-fluid">
  <div class="container ">
  <div class="row d-flex flex-row  mb-3 ">
    <div class="col-md-8 align-self-center">
      <p>- PROFILE</p>
      <h1 class="">Hi, I'm Gamaliel Sirengo</h1>
      <h2>I build things for the Web.</h2>
      <h6>I'm a Full Stack Developer specializing in building (and occasionally designing) great digital experiences.  </h6>
    </div>
    <div class="col-md-4 align-self-center">
      <ul class='circles'>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <img src="../../assets/images/meta.png" alt="" class="img-fluid bgm">

    </div>
  </div>
  </div>
</div>



<script>
  jQuery(document).ready(function () {
    jQuery(".container-wrap").append(
      "<ul class='circles'><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>"
    );
  });
</script>
