
<div class="container-fluid container-wrap">
  <div class="container sett">
  <div class="row d-flex flex-row  mb-3 ">
    <div class="col-md-8 align-self-center">
      <p class="mt-3">- PROFILE</p>
      <h1 class="fw-bold">Hi, I'm Gamaliel Sirengo.</h1>
      <h2 class="mb-3">I build things for the Web.</h2>
      <h5 class="mt-2">I'm a Full Stack Developer specializing in building (and <br class="mt-2">occasionally designing) great digital experiences.  </h5>
    </div>
    <div class="col-md-4 align-self-center">
      <ul class='circles'>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <img src="../../assets/images/meta.png" alt="" class="img-fluid bgm">

    </div>
  </div>
  </div>
</div>



<script>
  jQuery(document).ready(function () {
    jQuery(".container-wrap").append(
      "<ul class='circles'><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>"
    );
  });
</script>
