<nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-5" >
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/images/logos.png" class="img-fluid" height="100" width="90" alt=""></a>
      <i class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered"></i>
      </i>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" >
contact            </a>

          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <button class="button-70">
                <span class="front">
                  Resume
                </span>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
