
<div class="container-fluid about" id="projects">
  <div class="container">
    <div class="row">
      <h5 class="mt-5 abtme"><span class="num">03. </span> What I've been working on</h5><hr>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
      <div class="col">
        <div class="card">
          <img src="../../assets/images/pesadash.png" class="card-img-top" alt="Pesatrack"/>
          <div class="card-body mt-md-4">
            <h2 class="card-title mt-md-4 fw-bold">PesaTrack</h2>
            <p class="card-text mt-md-4">
              A web application that helps you keep track of your finances. You can add your expenses at any time and have a more detailed record of your expenditure. Description, date, category and cost of each spending
            </p>
            <div class="card-text">
              <div class="row">
                <div class="col">Django</div>
                <div class="col">Heroku</div>

              </div>
            </div>
            <div class="card-footer">
              <a href="https://github.com/sirgama/PesaTrack" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github m-3"></i></a>
              <a href="http://pesatrack.herokuapp.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square m-3"></i></a>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="../../assets/images/awwards.png" class="card-img-top" alt="Awwards"/>
            <div class="card-body mt-md-4">
              <h2 class="card-title mt-md-4 fw-bold">Project rating site</h2>
              <p class="card-text mt-md-4">
                A web app that lets you post your projects and have other users rate it. The app makes good use of REST API and JWT for API endpoints.
              </p>
              <div class="card-text">
                <div class="row">
                  <div class="col">RESTApi</div>
                  <div class="col">JWT Authentication</div>
                  <div class="col">Django</div>
                  <div class="col">Heroku</div>
                </div>
              </div>
              <div class="card-footer">
                <a href="https://github.com/sirgama/Awwwards" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github m-3"></i></a>
                <a href="https://awwards-ms.herokuapp.com/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square m-3"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="../../assets/images/gipyh.png" class="card-img-top" alt="Pesatrack"/>
              <div class="card-body mt-md-4">
                <h2 class="card-title mt-md-4 fw-bold">Giphy </h2>
                <p class="card-text mt-md-4">
                  I built this web app as a way to learn how Angular consumes an API. The app makes use of Giphy Api to fetch most trending gifs.
                </p>
                <div class="card-text">
                  <div class="row">
                    <div class="col">Angular</div>
                    <div class="col">Giphy API</div>

                  </div>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/sirgama/Giphy-Clone" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github m-3"></i></a>
                  <a href="https://sirgama.github.io/Giphy-Clone/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square m-3"></i></a>

                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="../../assets/images/sj.png" class="card-img-top" alt="Pesatrack"/>
                <div class="card-body mt-md-4">
                  <h2 class="card-title mt-md-4 fw-bold">Street Journal</h2>
                  <p class="card-text mt-md-4">
                    A web application that helps you stay up to date on most trending news. The appp makes use of NewsApi to fetch current news from various news sources.
                  </p>
                  <div class="card-text">
                    <div class="row">
                      <div class="col">Flask</div>
                      <div class="col">NewsApi</div>
                      <div class="col">Heroku</div>

                    </div>
                  </div>
                  <div class="card-footer">
                    <a href="https://github.com/sirgama/NewsAPI" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github m-3"></i></a>
                    <a href="https://sirgama-sj.herokuapp.com/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square m-3"></i></a>

                    </div>
                  </div>
                </div>
              </div>


      </div>
      <div class="row text-center d.flex align-self-center justify-content-center ">
        <div class="col"></div>
        <div class="col"><a href="http://github.com/sirgama" class="" target="_blank" rel="noopener noreferrer"><button class="btn btn-outline-success mt-5">View More Projects</button></a>
        </div>
        <div class="col"></div>
      </div>


    </div>
  </div>

<a href="http://" target="_blank" rel="noopener noreferrer" class="text-center"></a>

