
<div class="container-fluid about" id="projects">
  <div class="container">
    <div class="row">
      <h5 class="mt-5 abtme"><span class="num">03. </span> What I've been working on</h5><hr>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title mt-md-4">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title mt-md-4">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
