
<div class="container-fluid about" id="about-section">
  <div class="container">


  <div class="row d-flex justify-content-between flex-row mb-3 ">
<h5 class="mt-5 abtme"><span class="num">02. </span> Skills</h5><hr>

<div class="col-md-4 align-self-center mt-5">

  <img src="../../assets/images/skills.png" alt="" class="img-fluid bgm mt-5">

</div>

    <div class="col-md-7 align-self-center">
      <p class="mt-3 nume">- SKILLS</p>


      <p class="mt-3 abtm">Through my studies, I've gained a good understanding of web development concepts. Here are my current skills: </p>
      <div class="row abtm">
        <div class="col">
          <ul>
            <li>Agile Development</li>
            <li>Javascript ES6</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Angular</li>
            <li>HTML5 & CSS3</li>
            <li>Git Version Control</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Python Django</li>
            <li>Figma</li>
            <li>REST API</li>
          </ul>
        </div>
      </div>
      <p class="abtm">Currently learning: </p>
      <div class="row abtm">
        <div class="col">
          <ul>
            <li>React</li>

          </ul>
        </div>
      </div>
    </div>

  </div>


  </div>
</div>
